{
  "url": [
    "http://example.herokuapp.com",
    "http://example2.herokuapp.com"
  ],
  "from": "admin@example.com",
  "tos": [
    "admin@example.com"
  ],
  "sendonfail": false,
  "serveraddr": "localhost:25"
}